@charset "UTF-8";
/*------Paleta de colores------*/
/*------Tipografias------*/
/*------Reseteo------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*------Diseño General------*/
body {
  /*---Fondo---*/
  background-image: url(../../img/00a_fondo_mobile_clarito.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*---Tipografia---*/
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: rgba(0, 0, 0, 0.6117647059);
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  body {
    background-image: url(../../img/00a_fondo_desktop_clarito.jpg);
  }
}
body main {
  position: relative;
  top: 160px;
  bottom: 40px;
}
body main h3 {
  font-size: 2rem;
  text-align: center;
  margin: 15px;
}

aside {
  background-color: #fdf4ed;
  width: 100vw;
  height: 30px;
  position: fixed;
  top: 120px;
  z-index: 10;
}
aside p {
  height: 20px;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.6117647059);
  overflow: hidden;
  align-content: stretch;
  left: 0%;
  -webkit-animation-name: move;
  -webkit-animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: left;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes move {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}
header {
  height: 120px;
  width: 100vw;
  background-image: linear-gradient(#facea7, #fdf4ed);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-right: 10vw;
  padding-left: 10vw;
  padding-top: 10px;
  position: fixed;
  top: 0;
  z-index: 50;
}

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.logo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  line-height: 0.75;
}
.logo h1 {
  font-family: "Dancing Script", cursive;
  color: #fefbf4;
  font-size: 70px;
}
.logo h2 {
  font-family: "Amatic SC", cursive;
  color: rgba(155, 96, 44, 0.5058823529);
  font-size: 40px;
  font-weight: 100;
}

.menu {
  z-index: 100;
}
.menu ul {
  display: none;
  position: absolute;
  top: 80px;
  right: 10vw;
}
.menu ul li {
  display: block;
  background-color: #fdf4ed;
  margin: 0;
  padding: 10px;
  list-style: none;
}
.menu ul li a {
  color: rgba(0, 0, 0, 0.6117647059);
  text-decoration: none;
}
.menu ul li :hover {
  scale: 1.2;
  color: #facea7;
}
.menu input:checked ~ ul {
  display: block;
}
.menu input {
  display: none;
}
.menu label {
  color: #fefbf4;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  user-select: none;
}
.menu label :hover {
  scale: 1.5;
}

@media (min-width: 768px) {
  .menu input {
    display: none;
  }
  .menu label {
    display: none;
  }
  .menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 15px;
    position: unset;
  }
  .menu ul :hover {
    scale: 1.2;
  }
  .menu ul li {
    background-color: inherit;
  }
}
footer {
  height: 40px;
  width: 100vw;
  background-image: linear-gradient(rgba(236, 233, 216, 0.337254902), #ece9d8);
  position: absolute;
  bottom: 0;
  padding-right: 10vw;
  padding-left: 10vw;
  padding-top: 5px;
  padding-bottom: 100px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 40vw 60vw;
}
footer .logo {
  scale: 0.7;
}
footer .logo h1 {
  color: #facea7;
}
footer .arriba {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 65px;
  right: 10vw;
}
footer .arriba :hover {
  scale: 1.5;
}
footer .arriba a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #facea7;
}
footer .redes {
  z-index: 100;
  position: absolute;
  right: 10vw;
}
footer .redes label {
  color: #facea7;
  display: inline-block;
  position: relative;
  bottom: -50px;
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
footer .redes label :hover {
  scale: 1.5;
}
footer .redes ul {
  display: none;
  position: absolute;
  right: 10vw;
}
footer .redes ul li {
  display: block;
  position: relative;
  bottom: 205px;
  right: -11vw;
  background-color: #fdf4ed;
  padding: 5px;
  list-style: none;
}
footer .redes ul li :hover {
  scale: 1.1;
}
footer .redes input:checked ~ ul {
  display: block;
}
footer .redes input {
  display: none;
}
@media (min-width: 768px) {
  footer .redes label {
    display: none;
  }
  footer .redes ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 15px;
    position: relative;
    right: 10vw;
    bottom: -250px;
  }
  footer .redes ul li {
    background-color: rgba(255, 255, 255, 0);
  }
}

.producto {
  width: 250px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  padding: 15px;
}
.producto h5 {
  height: 20px;
  text-align: center;
  color: rgba(155, 96, 44, 0.5058823529);
  font-size: 1.4rem;
  overflow: hidden;
}
.producto img {
  width: 150px;
  border: solid #fefbf4 2px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
}
.producto a {
  width: 70px;
  height: 30px;
  text-decoration: none;
  text-align: center;
  color: #facea7;
  border: solid #fefbf4 1px;
  border-radius: 5px;
}
.producto .btn {
  background-color: rgba(253, 244, 237, 0.6509803922);
  position: relative;
  bottom: -20px;
  left: 30px;
}
.producto .seleccion {
  background-color: #fefbf4;
  border: none;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6117647059);
  text-align: center;
}

.portada {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 50px;
  gap: 40px;
}
.portada img {
  height: 250px;
  width: 300px;
  border: solid #fefbf4 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
}
.portada p {
  font-family: "Dancing Script", cursive;
  text-align: right;
  font-size: 1.8rem;
}

.irashop {
  width: 100vw;
  background-color: #ece9d8;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.irashop a img {
  width: 200px;
}
.irashop ul {
  display: none;
}

@media (min-width: 768px) {
  .irashop a {
    display: none;
  }
  .irashop ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .irashop ul a img {
    width: 150px;
  }
}
.tienda {
  height: 450px;
  min-width: 256px;
  background-color: #ece9d8;
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  padding: 20px;
  gap: 60px;
}

.tienda::-webkit-scrollbar:vertical {
  -webkit-appearance: none;
}

/*# sourceMappingURL=style.css.map */
