/*------Paleta de colores------*/

$color_base: #fefbf4;

$color_claro: #fdf4eda6;

$color_vivido: #facea7;

$color_vivido_transparente: #facea759;

$color_neutro: #ece9d8;

$color_neutro_transparente: #ece9d856;

$color_tipografia1: #000000;

$color_tipografia2: #b3723a;


/*------Tipografias------*/

$tipografia_texto: 'Yanone Kaffeesatz', sans-serif; 

$tipografia_importante: 'Yanone Kaffeesatz', sans-serif;

$tipografia_logo1: 'Dancing Script', cursive;

$tipografia_logo2: 'Amatic SC', cursive;