/*------Paleta de colores------*/

$color_base: #fefbf4;

$color_claro: #fdf4ed;

$color_claro_transparente: #fdf4eda6;

$color_vivido: #facea7;

$color_vivido_transparente: #facea759;

$color_neutro: #ece9d8;

$color_neutro_transparente: #ece9d856;

$color_tipografia1: #0000009c;

$color_tipografia2: #9b602c81;


/*------Tipografias------*/

$tipografia_texto: 'Yanone Kaffeesatz', sans-serif; 

$tipografia_importante: 'Yanone Kaffeesatz', sans-serif;

$tipografia_logo1: 'Dancing Script', cursive;

$tipografia_logo2: 'Amatic SC', cursive;