.portada{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 50px;
    gap: 40px;

    img{
        height: 250px;
        width: 300px;
        border: solid $color_base 4px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 150px;
        border-bottom-right-radius: 150px;
    }

    p{
        font-family: $tipografia_logo1;
        text-align: right;
        font-size: 1.8rem;
    }
   
}

.irashop{
    width: 100vw;
    background-color: $color_neutro;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;


    a{
        img{
            width: 200px;
        }
    }
  
    ul{
        display: none;
    }
}

@media (min-width: 768px){
    .irashop{
        a{
            display: none;
        }

        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            a{
                img{
                    width: 150px;
                }
            }

        }
    }
}