footer{
    height: 40px;
    width: 100vw;
    background-image: linear-gradient($color_neutro_transparente, $color_neutro);
    position: absolute;
    bottom: 0;
    padding-right: 10vw;
    padding-left: 10vw;
    padding-top: 5px;
    padding-bottom: 100px;
    margin-top: 50px;
    
    display: grid;
    grid-template-columns: 40vw 60vw;

    .logo{
        scale: 0.7;
        h1{
            color: $color_vivido
        }
    }

    .arriba{
        :hover{
            scale: 1.5;
        }
        a{
            font-size: 1.6rem;
            text-decoration: none;
            color: $color_vivido;
        }
        display: flex;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 65px;
        right: 10vw;
    }

    .redes{
        z-index: 100;
        position: absolute;
        right: 10vw;

        label{
            color: $color_vivido;
            display: inline-block;
            position: relative;
            bottom: -50px;
            width: 60px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            :hover{
                scale: 1.5;
            }
        }

        ul{
            display: none;
            position: absolute;
            right: 10vw;

            li{
                display: block;
                position: relative;
                bottom: 205px;
                right: -11vw;
                background-color: $color_claro;
                padding: 5px;
                list-style: none;
                :hover{
                    scale: 1.1;
                }
            }
        }

        input:checked ~ul{
            display: block;
        }
    
        input{
            display: none;
        }

    }

    @media (min-width: 768px){
        .redes{
            label{
                display: none;
            }
            ul{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-end;
                gap: 15px;
                position: relative;
                right: 10vw;
                bottom: -250px;
                li{
                    background-color: #ffffff00;
                }                                       
            }
        }
    }

}