header{
    height: 120px;
    width: 100vw;
    background-image: linear-gradient($color_vivido, $color_claro);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 10vw;
    padding-left: 10vw;
    padding-top: 10px;
    position: fixed;
    top: 0;
}