header{
    height: 80px;
    width: 100vw;
    background-image: linear-gradient($color_vivido, $color_claro);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
        
    div{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        line-height: 0.75;

        h1{
            font-family: $tipografia_logo1;
            color: $color_base;
            font-size: 70px;
        }
        h2{
            font-family: $tipografia_logo2;
            color: $color_tipografia2;
            font-size: 40px;
            font-weight: 100;
        }
    }
}