.menu{
    z-index: 100;
    
    ul{
        display: none;
        position: absolute;
        top: 80px;
        right: 10vw;

        li{
            display: block;
            background-color: $color_claro;
            margin: 0;
            padding: 10px;
            list-style: none;
            
            a{
                color: $color_tipografia1;
                text-decoration: none;
            }

            :hover{
                scale: 1.2;
                color: $color_vivido;
            }
        }
    }

    input:checked ~ul{
        display: block;
    }

    input{
        display: none;
    }

    label{
        color: $color_base;
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        user-select: none;

        :hover{
            scale: 1.5;
        }
    }

}

@media(min-width: 768px) {
    .menu{
        input{
            display: none;
        }
        label{
            display: none;
        }
        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            gap: 15px;
            position: unset;
            :hover{
                scale: 1.2;
            }
            
            li{
                background-color: inherit;
            }
            }
    }    
}