.producto{

    width: 250px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 15px;

    h5{
        height: 20px;
        text-align: center;
        color: $color_tipografia2;
        font-size: 1.4rem;
        overflow: hidden;
    }

    img{
        width: 150px;
        border: solid $color_base 2px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 150px;
        border-bottom-right-radius: 150px;
    }

    a{
        width: 70px;
        height: 30px;
        text-decoration: none;
        text-align: center;
        color: $color_vivido;
        border: solid $color_base 1px;
        border-radius: 5px;
    }

    .btn{
        background-color: $color_claro_transparente;
        position: relative;
        bottom: -20px;
        left: 30px;
    }

    .seleccion{
        background-color: $color_base;
        border: none;
        font-family: $tipografia_texto;
        font-size: 1rem;
        color: $color_tipografia1;
        text-align: center;
    }

}