.tienda{
    height: 450px;
    min-width: 256px;
    background-color: $color_neutro;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    padding: 20px;
    gap: 50px;
}